---
Language: Cpp
BasedOnStyle: WebKit

AlignAfterOpenBracket: AlwaysBreak
AlignEscapedNewlines: DontAlign
AlignTrailingComments: true
AllowShortBlocksOnASingleLine: true
AllowShortFunctionsOnASingleLine: Inline
AlwaysBreakTemplateDeclarations: true

BinPackArguments:  true
BinPackParameters: false

BraceWrapping:
  AfterFunction: false # true
  AfterUnion: false
  SplitEmptyFunction: false
  SplitEmptyNamespace: false
  SplitEmptyRecord: false

BreakBeforeBinaryOperators: All
BreakBeforeBraces: Custom
BreakBeforeTernaryOperators: true

ColumnLimit: 80
ConstructorInitializerAllOnOneLineOrOnePerLine: true
ConstructorInitializerIndentWidth: 0 # NEW
Cpp11BracedListStyle: true

FixNamespaceComments: true
NamespaceIndentation: None
ReflowComments: false
...
